{% extends 'base.html' %}

{% block title %}About Louisiana Based Q Hotel Management{% endblock %}
{% block description %}Q Hotels inspires extraordinary results through advanced knowledge of the hospitality industry and focuses to strengthen our local communities.{% endblock %}
{% block keywords %}About, Louisiana Based Q Hotel Management, QHotels Management,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/QHotels-RibbonCutting.jpg" alt="Our Team" title="team" />
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="page-title text-center">
        <small class="text-capitalize">get to know better</small>
        <h1 class="m-0 text-uppercase">Who we are</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <div class="text text-center" style="color:#000">
        <p class="mb-3">
            QHotels Management corporate structure is designed to assist property leaders in achieving budgeted performance objectives, while allowing the necessary flexibility to respond to unforeseen market challenges and opportunities. The LaPlace, Louisiana-based corporate team constantly reviews and carefully monitors adherence to quality assurance standards. Metropolitan Hotels, Suburban locations and small market, industry specific destinations. Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.
        </p>
    </div>
    <div class="row">
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/our_mission.jpg" class="col-md-12 p-0" alt="our mission" title="our mission" />
                <div class="overlay jumbotron">
                    <div class="ab-content text-center text-white">
                        <h3>OUR PURPOSE</h3>
                        <p>
                            Take care of our Guests.<br>
                            Take care of our Team Members.<br>
                            Become good stewards within the communities we serve.<br>
                            Make a profit.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/Our_vision.jpg" class="col-md-12 p-0" alt="our vision" title="our vision" />
                <div class="overlay jumbotron">
                    <div class="ab-content text-center text-white">
                        <h3>OUR MISSION</h3>
                        <p>
                            To inspire extraordinary results,
                            advance knowledge, and strengthen 
                            our communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text text-center py-3">
        <p class="mb-3" style="color:#000;">
            QHotels Management is a leading force in the hospitality industry. With more than 50 years of expertise in hotel management, turnarounds, development and renovations, our diverse portfolio includes Metropolitan Hotels, Suburban locations and small market, industry specific destinations. Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.
        </p>
        <p class="mb-2" style="color:#000;">
            We know what hotel owners want and need, and we can meet those expectations with accounting, IT, operations, and sales and marketing expertise already in place. As a leading national QHotels Management company, QHotels Management is a proven partner that adds a fresh perspective to any hotel’s bottom line.
        </p>
    </div>
</div>

<div class="container mb-5" id="about-service">
    <div class="row">
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/fsr.png" class="col-md-12 p-0" alt="financial result" title="financial result" />
                <div class="bg-transparent py-3 overlay">
                    <div class="ab-content text-left text-white w-75 float-right h-100 p-3">
                        <h3>FINANCIAL RESULTS</h3>
                        <p>
                            Whether it’s a joint venture, management contract or other structure, we put the total resources of QHotels Management behind you, providing the financial strength, strategic planning and management expertise needed to drive top-line sales and bottom-line results.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/guest.png" class="col-md-12 p-0" alt="guest" title="guest" />
                <div class="bg-transparent py-3 overlay">
                    <div class="ab-content text-left text-white w-75 float-right h-100 p-3">
                        <h3>AUTHENTIC GUEST EXPERIENCES</h3>
                        <p>
                            Our hotels include authentic experiences that distinguish QHotels Management from others in the industry. We have developed a proven operations process at each of our hotels labeled The Q Way .”This process includes our Task Force Division that audits each hotel to ensure our hotels are exceeding QHotels Management standards. Our audit process is more stringent than the leading brands, which is one of the key drivers behind QHotels Management numerous Guest Service Rewards.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/staff.jpg" class="col-md-12 p-0" alt="staff" title="staff" />
                <div class="bg-transparent py-3 overlay">
                    <div class="ab-content text-left text-white w-75 float-right h-100 p-3">
                        <h3>ENERGIZED HOTEL STAFF</h3>
                        <p>
                            QHotels Management offers both Sales & Operations Monthly, Quarterly and Yearly Bonuses.In fact, QHotels Management is the only Hotel Corporation that allows property management to achieve up to 45% of his/her yearly base salary. This process energizes the property level management staff to achieve greater top-line and bottom-line results. QHotels Management bonus structure creates an “owner minded” culture that inspires managers to engage our supportive corporate staff with fresh ideas to increase each hotels bottom line.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-inline p-2 col-md-6" style="overflow: hidden;">
            <div class="img-section position-relative">
                <img src="/static/img/technology.jpg" class="col-md-12 p-0" alt="technology" title="technology" />
                <div class="bg-transparent py-3 overlay">
                    <div class="ab-content text-left text-white w-75 float-right h-100 p-3">
                        <h3>TECHNOLOGY</h3>
                        <p>At QHotels Management our motto is “We Rise by Lifting Others.” QHotels Management is the owner of proprietary Software that decreases the amount of administrative time and increases productivity. Both our owners and corporate support staff members are able to view performances in real-time. Property level managers are able to see P&L performances for the month in the month. Other hotel companies also use our proprietary software to enhance collaboration between corporate and property level management staff. QHotels Management does not just use the most advanced tools in the hotel industry, we create them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
