{% extends 'base.html' %}

{% block title %}Hotel Accounting Services | Q Hotels{% endblock %}
{% block description %}Q Hotels has an in house hotel accounting team to assist operations to general managers can focus on running the hotel.{% endblock %}
{% block keywords %}Hotel Accounting Services | Q Hotels{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="accounting" title="accounting" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Accounting</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>Our hotel management company understands the role of a well run financial operation in increasing your hotel’s bottom line. QHotels Management professional accounting staff centralizes the reporting of all your property’s funds. Financial performance is compared to industry and specific property benchmarks, allowing our team to correct variances long before they turn into major problems, and helping our owners to make well-informed financial decisions.</p>
    </div>
    <p>
        The accounting team focuses on developing and generating financial reports to help operations and owners refine the business results. A summary of these reports and activities is listed below:
    </p>
    <ul>
        <li>Manages all your property’s funds</li>
        <li>Handles all accounts payable centrally</li>
        <li>Produces monthly P&Ls</li>
        <li>Maintains balance sheet & general ledger</li>
        <li>Conducts property audits</li>
        <li>Manages insurance, including property, liability and health</li>
        <li>Payment of all taxes relating to hotel operations</li>
        <li>Processes payroll in-house, including quarterly reports and W2s</li>
    </ul>
    <p>
        QHotels Management believes that it is our responsibility to provide continual training and development to facilitate our talent reaching their full potential. We believe in a collaborative approach, openly encouraging communications of knowledge, experiences, and best practice, while ensuring opportunities to gain and refine industry skills are always available. It is this passion and drive that challenges all of our hotels to be the best in their market.
    </p>
</div>
{% endblock %}
