{% extends 'base.html' %}

{% block title %}Hotel developers{% endblock %}
{% block description %}Q Hotels has extensive experience in the area of hotel development with close relationships with many vendors in Southwest Louisiana.{% endblock %}
{% block keywords %}Hotel Developers | Marriott, Hilton, IHG, Best Western | Q Hotels{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="construcion and pip" title="construction and pip" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Development, PIP and Construction</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>Q Hotels has successfully developed and constructed numerous projects for various partnerships branding with industry leaders like IHG, Hilton, and Best Western.</p>
    </div>
</div>
<div class="container my-5">
    <ul>
        <li>Feasibility Research</li>
        <li>Land Selection and Negotiation Services</li>
        <li>Construction Budgeting</li>
        <li>Development, from Concept to Completion</li>
        <li>Furniture, Fixture, and Equipment Purchasing & Placement</li>
        <li>Land Selection and Negotiation Services</li>
        <li>General Contract Services</li>
        <li>Interior Design and Coordination</li>
        <li>Franchise Review Coordination</li>
        <li>Construction Management</li>
    </ul>
</div>
{% endblock %}
