{% extends 'base.html' %}

{% block title %}Contact Q Hotel Management{% endblock %}
{% block description %}Contact the team at Q Hotel Management to learn about upcoming projects, new ventures or a shift in your career.{% endblock %}
{% block keywords %}Contact, Contact QHotels Management, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/contact.jpg" alt="Get In Touch" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <div class="page-title">
        <h1 class="m-0 text-uppercase">PEOPLE PLEASING PEOPLE</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <p>
        QHotels Management is the perfect place to start your career in hospitality! Join our growing teams and get involved with likeminded people with a passion for excellence.
    </p>
    <p>
        Members of our team work all aspects of guest service, from front desk to set up, staff to housekeepers and everything in between. 
        Get a glimpse behind the scenes of some of the city’s biggest events as they unfold at our locations, and be a part of the “Q Way” Magic our guests have come to know
        and love. With the endless opportunities you’ll find here, and encouraging management teams at all levels, you can unlock your potential and achieve your career goals.
    </p>
</div>
{% endblock %}
