{% extends 'base.html' %}

{% block title %}Q-Hotels | Services{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="list of services" title="list of services" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Detailed List of Services</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Accounting &amp; Accounting Oversight</li>
                <li>ADA Compliance &amp; Training</li>
                <li>Chain Restaurant Selection</li>
                <li>Concept Development</li>
                <li>Due Diligence Reports</li>
                <li>Employer of Record (Employee Burden)</li>
                <li>Feasibility Analysis</li>
                <li>Finance or Funding Recommendations</li>
                <li>Food &amp; Beverage Development</li>
                <li>Franchise Selection and Analysis</li>
                <li>Franchise Management</li>
                <li>Franchise Negotiations</li>
                <li>Fair Franchise Agreement Negotiation</li>
                <li>Terminations Negotiation Assistance</li>
                <li>Mediation Litigation Support</li>
                <li>Functional Layout of Physical Plant</li>
                <li>Guest and Employee Safety &amp; Security</li>
                <li>Human Resources</li>
                <li>Legal-Risk Management</li>
                <li>Market Development Plan and Implementation</li>
                <li>Marketing Research and Reports</li>
                <li>Operational Audits &amp; Analysis</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>Pre-Opening Consulting</li>
                <li>Purchasing</li>
                <li>Quality Control Analysis</li>
                <li>Safety Audits and Training</li>
                <li>Sales Development</li>
                <li>Security Audits and Training</li>
                <li>Staff Selection and Training</li>
                <li>Technical Systems</li>
                <li>Technical Systems Training</li>
                <li>Inventory controls</li>
                <li>Complete Marketing &amp; Sales Management</li>
                <li>Full Accounting Systems Development</li>
                <li>Human Resources Administration</li>
                <li>Risk Management &amp; Consultation</li>
                <li>Short Term Management</li>
                <li>Project Consulting</li>
                <li>Food &amp; Beverage Management</li>
                <li>Renovation &amp; Construction Supervision</li>
                <li>Renovation Management</li>
                <li>Governmental &amp; Franchise Compliance</li>
                <li>Guest Relations Support</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
