{% extends 'base.html' %}

{% block title %}Hotel Developers | Marriott, Hilton, IHG, Best Western | Q Hotels{% endblock %}
{% block description %}Q Hotels has extensive experience in the area of hotel development with close relationships with many vendors in Southwest Louisiana.{% endblock %}
{% block keywords %}Hotel Developers | Marriott, Hilton, IHG, Best Western | Q Hotels, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="services" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Development and Construction</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <ul>
        <li>Feasibility Research</li>
        <li>Land Selection and Negotiation Services</li>
        <li>Construction Budgeting</li>
        <li>Development, from Concept to Completion</li>
        <li>Furniture, Fixture, and Equipment Purchasing & Placement</li>
        <li>Land Selection and Negotiation Services</li>
        <li>General Contract Services</li>
        <li>Interior Design and Coordination</li>
        <li>Franchise Review Coordination</li>
        <li>Construction Management</li>
    </ul>
</div>
{% endblock %}
