{% extends 'base.html' %}

{% block title %}Q Hotels | Louisiana Hotel Management Company{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/lightslider.css">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
{% endblock %}

{% block banner %}
<div class="fullwidthbanner-container">
    <div class="fullwidth_home_banner">
        <ul>
		<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                <img src="/static/img/slider-1.webp" alt="slide" title="Hamptone Inn">
                <div class="tp-caption large_black sfr navtxt sfr" data-x="400" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                    style="font-size: 62px;color: #fff; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;text-align:center !important">
                    We build brands
                    <hr>
                </div>
                <div class="tp-caption large_black navtxt sfr bnrtxt" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                    style="font-size: 19px;color: #fff; margin-bottom: 23px; line-height: 40px;">
                    <p>Metropolitan Hotels, Suburban locations and small market, industry specific destinations.<br>
                        Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.
                    </p>
                </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                <img src="/static/img/slider.jpg" alt="slide" title="TPS LaPlace">
                <div class="tp-caption large_black sfr navtxt sfr" data-x="400" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                    style="font-size: 62px;color: #fff; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;text-align:center !important">
                    We build brands
                    <hr>
                </div>
                <div class="tp-caption large_black navtxt sfr bnrtxt" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                    style="font-size: 19px;color: #fff; margin-bottom: 23px; line-height: 40px;">
                    <p>Metropolitan Hotels, Suburban locations and small market, industry specific destinations.<br>
                        Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.
                    </p>
                </div>
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                <img src="/static/img/slider.jpg" alt="slide" title="TPS LaPlace">
                <div class="tp-caption large_black sfr navtxt sfr" data-x="400" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                    style="font-size: 62px;color: #fff; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;text-align:center !important">
                    We build brands
                    <hr>
                </div>
                <div class="tp-caption large_black navtxt sfr bnrtxt" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                    style="font-size: 19px;color: #fff; margin-bottom: 23px; line-height: 40px;">
                    <p>Metropolitan Hotels, Suburban locations and small market, industry specific destinations.<br>
                        Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="headbg">
    <div class="large-12 columns container" style="padding:20px;">
        <div id="client" class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage " style="transform: translate3d(-1960px, 0px, 0px); transition: all 0.25s ease 0s; width: 5880px;">
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/candlewood.png" alt="slide" title="candlewood">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/hamptoninn.png" alt="slide" title="hamptoninn">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/best-western.png" alt="slide" title="best-western">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/twn.png" alt="slide" title="twn">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item ">
                            <img src="/static/img/clients/SpringHill-Suites.png" alt="slide" title="SpringHill-Suites">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/stay.png" alt="slide" title="stay">
                        </div>
                    </div>
                    <div class="owl-item logos-list">
                        <div class="item">
                            <img src="/static/img/clients/wyndham.png" alt="slide" title="wyndham">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center navtxt mt">WELCOME TO QHOTELS MANAGEMENT</h1>
    <div>
        <p class="text-center contxt">
            Formed in 1997, QHotels Management started with one Hotel and a philosophy of providing extraordinary service balanced with above average operating results. The original group of visionary entrepreneurs are now board members. QHotels Management has earned a national reputation as an innovator in owning, managing, marketing, and developing distinctive lodging entities. Led by distinguished industry veterans with more than one hundred and fifty years' experience, QHotels Management focuses on relentless, hands-on execution by its core executive team to continually improve asset value for hotel owners.
        </p>
    </div>
    <div class="row vdivide mt1">
        <div class="col-md-6 ">
            <h3 class="text-center navtxt">OUR MISSION</h3>
            <p class="text-center contxt mt-2">To inspire extraordinary results, advance knowledge, and strengthen our communities.</p>
            <div class="btncenter mt-2">
                <div class="cstbtn navtxt"><a href="about">Explore More</a></div>
            </div>
        </div>
        <div class="col-md-6 ">
            <h3 class="text-center navtxt">OUR PURPOSE</h3>
            <p class="text-center contxt mt-2">Take care of our Guests. Take care of our Team Members. Become good stewards within the communities we serve. Make a profit.</p>
            <div class="btncenter mt-2">
                <div class="cstbtn navtxt"><a href="about">Explore More</a></div>
            </div>
        </div>
    </div>
</div>

<div class="sectionbg">
    <div class="container sectionpad">
        <h1 class="sectiontxt navtxt text-white text-center">HOTEL MANAGEMENT SERVICES</h1>
        <p class="sectiontxt contxt text-center text-white mt-4">
            QHotels Management is the first choice in the industry, illustrated by our strong performance in our markets.<br/>
            No company knows how to create experiences
        </p>
        <div class="row vdivide hline">
            <div class="col-md-4 tab text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 100 100">
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="17.5" y1="55" x2="17.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28.5" y1="43" x2="28.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="40.5" y1="37" x2="40.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="51.5" y1="40" x2="51.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="61.5" y1="30" x2="61.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="72.5" y1="35" x2="72.5" y2="100"/>
                    <line style="stroke: #ffffff;fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="82.5" y1="30" x2="82.5" y2="100"/>
                    <polyline style="fill:none;stroke: #ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="10.75,50 38.5,26.5 51.5,32 61.5,22 72.5,30 82.5,23 "/>
                </svg>
                <h4 class="sectiontxt navtxt text-white font-weight-normal">Sales and Marketing</h4>
                <p class="sectiontxt contxt text-white mt-4">QHotels Management has a comprehensive and integrated approach to sales</p>
                <div class="btncenter mt2"><a href="sales-and-marketing"><div class="sectionbtn navtxt sectiontxt">Explore More</div></a></div>
            </div>
            <div class="col-md-4 tab text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 100 100">
                    <polygon style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="15.5,89.5 15.5,39.5 57.5,39.5 57.5,78.5 46.5,78.5 46.5,89.5 "/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="57.5" y1="78.5" x2="46.625" y2="89.5"/>
                    <ellipse style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="31.737" cy="55" rx="7.237" ry="7.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.065" y1="60.191" x2="44.188" y2="67.191"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="27" y1="52.5" x2="32" y2="52.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="34" y1="52.5" x2="36" y2="52.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="27" y1="54.5" x2="36" y2="54.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="27" y1="54.5" x2="36" y2="54.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="27" y1="56.5" x2="29" y2="56.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="31" y1="56.5" x2="36" y2="56.5"/>
                </svg>
                <h4 class="sectiontxt navtxt text-white font-weight-normal">Operations</h4>
                <p class="sectiontxt contxt text-white mt-4">QHotels Management believes that operational success comes from active management</p>
                <div class="btncenter mt2"><a href="operations"><div class="sectionbtn navtxt sectiontxt"> Explore More</div></a></div>
            </div>
            <div class="col-md-4 tab text-center">
                <svg width="100px" height="100px" viewBox="0 0 100 100">
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="82.406" y1="40.758" x2="90.109" y2="40.758"/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="82.406" y1="56.758" x2="90.109" y2="56.758"/>
                    <polyline fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="95.11,41.172 95.11,48.758 82.406,48.758 "/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.11" y1="56.758" x2="10.406" y2="56.758"/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="18.11" y1="40.758" x2="10.406" y2="40.758"/>
                    <polyline fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="5.406,56.344 5.406,48.758 18.11,48.758 "/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="57.758" y1="81.406" x2="57.758" y2="89.11"/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="41.758" y1="81.406" x2="41.758" y2="89.11"/>
                    <polyline fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="57.344,94.11 49.758,94.11 49.758,81.406 "/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="41.758" y1="21.11" x2="41.758" y2="13.407"/>
                    <line fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="57.758" y1="21.11" x2="57.758" y2="13.407"/>
                    <polyline fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="42.172,8.406 49.758,8.406 49.758,21.11 "/>
                    <rect x="18.067" y="20.946" fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="63.808" height="59.593"/>
                    <rect x="25.116" y="27.996" fill="none" style="stroke:#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit:10" width="49.709" height="45.494"/>
                </svg>
                <h4 class="sectiontxt navtxt text-white font-weight-normal">Technology & IT</h4>
                <p class="sectiontxt contxt text-white mt-4">QHotels Management has created a proprietary cloud based reporting system developed by the team at QHotels Management.</p>
                <div class="btncenter mt2"><a href="technology"><div class="sectionbtn navtxt sectiontxt"> Explore More</div></a></div>
            </div>
        </div>
        <div class="row vdivide">
            <div class="col-md-4 tab text-center">
                <svg width="100px" height="100px" viewBox="0 0 100 100">
                    <polygon style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="65.5,78.5 20.5,78.5 20.5,28.5 65.5,28.5 65.5,37.498 "/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="21" y1="37.5" x2="65" y2="37.5"/>
                    <rect x="22.5" y="39.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="19" height="4"/>
                    <rect x="44.5" y="39.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="19" height="4"/>
                    <rect x="22.5" y="47.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="30.5" y="47.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="38.5" y="47.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="46.5" y="47.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="22.5" y="55.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="30.5" y="55.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="38.5" y="55.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="46.5" y="55.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="22.5" y="63.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="30.5" y="63.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="38.5" y="63.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="46.5" y="63.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="22.5" y="71.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="30.5" y="71.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="38.5" y="71.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="46.5" y="71.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="4" height="4"/>
                    <rect x="54.5" y="47.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="9" height="4"/>
                    <rect x="54.5" y="55.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="9" height="4"/>
                    <rect x="54.5" y="63.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="9" height="4"/>
                    <rect x="54.5" y="71.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="9" height="4"/>
                </svg>
                <h4 class="sectiontxt navtxt text-white font-weight-normal">Accounting</h4>
                <p class="sectiontxt contxt text-white mt-4">Our hotel management company understands the role of a well run financial operation in increasing your hotel’s bottom line</p>
                <div class="btncenter mt2 sectiontxt"><a href="accounting"><div class="sectionbtn navtxt sectiontxt"> Explore More</div></a></div>
            </div>
            <div class="col-md-4 tab text-center">
                <svg width="100px" height="100px" viewBox="0 0 100 100">
                    <polygon style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="25.5,27.5 25.5,75.5 58.5,75.5 58.5,67.5 33.5,67.5 33.5,28 33.5,27.5 "/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="31.5" x2="33" y2="31.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="34.5" x2="33" y2="34.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="37.5" x2="33" y2="37.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="40.5" x2="33" y2="40.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="43.5" x2="33" y2="43.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="46.5" x2="33" y2="46.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="49.5" x2="33" y2="49.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="52.5" x2="33" y2="52.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="55.5" x2="33" y2="55.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="58.5" x2="33" y2="58.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="61.5" x2="33" y2="61.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="30" y1="64.5" x2="33" y2="64.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="28" y1="67.5" x2="33" y2="67.5"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="33.531" y1="68" x2="33.469" y2="73"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="36.5" y1="71" x2="36.5" y2="68"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="39.531" y1="68" x2="39.469" y2="73"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="42.5" y1="71" x2="42.5" y2="68"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="45.531" y1="68" x2="45.469" y2="73"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="48.5" y1="71" x2="48.5" y2="68"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="51.531" y1="68" x2="51.469" y2="73"/>
                    <line style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="54.5" y1="71" x2="54.5" y2="68"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="30.083" cy="71" r="2"/>
                </svg>
                <h4 class="sectiontxt navtxt text-white font-weight-normal">Development, PIP and Construction</h4>
                <p class="sectiontxt contxt text-white mt-4">QHotels Management has successfully developed and constructed numerous projects for various partnerships</p>
                <div class="btncenter mt2 sectiontxt"><a href="construction-and-pip-management"><div class="sectionbtn navtxt sectiontxt"> Explore More</div></a></div>
            </div>
            <div class="col-md-4 tab text-center">
                <svg width="100px" height="100px" viewBox="0 0 100 100">
                    <polyline style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="45.5,68 45.5,21.5 50.5,21.5 50.5,19.5 59.5,19.5 59.5,22.5 64.5,22.5 64.5,69 "/>
                    <polyline style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="34.5,64 34.5,29.953 45.455,27.051 "/>
                    <polyline style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="74.5,64 74.5,27.5 65,27.5 "/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="38.083" cy="53.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="42.083" cy="55.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="38.083" cy="58.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="42.083" cy="60.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="38.083" cy="42.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="42.083" cy="44.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="38.083" cy="47.917" r="1"/>
                    <circle style="fill:none;stroke:#ffffff;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" cx="42.083" cy="50.917" r="1"/>
                </svg>
                <h4 class=" sectiontxt navtxt text-white font-weight-normal">Detailed List of Services</h4>
                <p class="sectiontxt contxt text-white mt-4">Furniture, Fixture, and Equipment Purchasing & Placement</p>
                <div class="btncenter mt2 sectiontxt"><a href="detailed-list-of-services"><div class="sectionbtn navtxt sectiontxt"> Explore More</div></a></div>
            </div>
        </div>
    </div>
</div>

<div class="container sectionpad">
    <h1 class="text-center navtxt text-uppercase mb-4">Hotel management TEAM</h1>
    <div id="partner" class="owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item">
                    <div class="item position-relative">
                        <img src="/static/img/portfolio/vimalpatel.png" alt="Vimal Patel" title="Vimal Patel">
                        <a href="/team">
                            <div class="bg-white partner-content text-uppercase text-center mx-3 p-3">
                                <h2>Vimal Patel</h2>
                                <small class="mb-3">C.E.O</small><br/>
                                <i class="fa fa-envelope-o"></i>
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-linkedin"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="item">
                        <img src="/static/img/portfolio/kevin1.jpg" alt="Kevin Patel" title="Kevin Patel">
                        <a href="/team">
                            <div class="bg-white partner-content text-uppercase text-center mx-3 p-3">
                                <h2>Kevin Patel</h2>
                                <small class="mb-1 d-block">The Buck Stops Here</small>
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="owl-item">
                    <div class="item">
                        <img src="/static/img/portfolio/jay.png" alt="Jay Patel" title="Jay Patel">
                        <a href="/team">
                            <div class="bg-white partner-content text-uppercase text-center mx-3 p-3">
                                <h2>Jay Patel</h2>
                                <small class="mb-1 d-block">Chairman of the Board</small>
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/lightslider.js"></script>
<script src="/static/js/jquery.themepunch.plugins.min.js"></script>
<script src="/static/js/jquery.themepunch.revolution.js"></script>
<script src="/static/js/rs.home.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/owl.autoplay.js"></script>
<script>
    $(document).ready(function() {
        var client = $('#client');
        client.owlCarousel({
            loop:true,
            margin:10,
            autoplay:false,
            responsiveClass:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true,
            pagination:true,
            responsive:{
                0:{ items:1, nav:false },
                600:{ items:3 },
                1000:{ items:4, nav:true }
            }
        });

        var partner = $('#partner');
        partner.owlCarousel({
            loop:true,
            margin:10,
            responsiveClass:true,
            pagination:true,
            responsive:{
                0:{ items:1, nav:false },
                600:{ items:2, nav:false },
                1000:{ items:3, dots:true, nav:false }
            }
        });
    });
</script>
{% endblock %}
