{% extends 'base.html' %}

{% block title %}Partner with Q Hotels for Hotel Franchise Opportunities{% endblock %}
{% block description %}Choose Q Hotels for your next hotel franchise opportunity and preserve your bottom line. Equity partners receive priority returns and shares of hotel profits from sales and operations.{% endblock %}
{% block keywords %}Partner with Q Hotels for Hotel Franchise Opportunities{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/investment.png" alt="investment" title="investment"/>
</div>
{% endblock %}

{% block content %}
<div class="container mt-3" id="investment">
    <div class="row">
        <div class="col-md-12">
            <div class="position-relative">
                <figure><img src="/static/img/24.png" class="col-md-12 p-0" /></figure>
                <div class="overlay">
                    <div class="position-absolute text-center text-white  p-5">
                        <div class="display-5 mb-5">INVESTMENT</div>
                        <p>Part of QHotels Management growth strategy involves establishing venture partnerships with outside equity investors. Our investment partners own the hotel they acquire and investing equity sponsors receive priority returns and shares of hotel profits from sales and operations. Our company  manages ventures and hotels for a market rate fee and distributes a portion of the profits from sales and operations as part of the agreement. Metropolitan Hotels, Suburban locations and small market, industry specific destinations. Our properties have been the recipients of numerous industry awards and reflect QHotels Management commitment to excellence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid row">
        <div class="col-md-6">
            <figure class="effect-apollo">
                <img src="/static/img/22.png" alt="img22">
                <figcaption class="text-white">
                    <h2>INVESTMENT <span>OPPORTUNITIES</span></h2>
                    <p>Key members of QHotels Management executive team have coordinated the acquisition and development of hotels since 1997. Our team has extensive experience working with all major hotel franchises and brands, including</p>
                </figcaption>			
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="effect-apollo">
                <img src="/static/img/18.png" alt="img22">
                <figcaption class="text-white">
                    <h2>Working with<span> QHotels Management</span></h2>
                    <p>Whether it’s a joint venture, management contract or other structure, we put the total resources of QHotels Management behind you, providing the financial strength, strategic planning and management expertise needed to drive top-line sales and bottom-line results.</p>
                </figcaption>			
            </figure>
        </div>
    </div>
</div>
{% endblock %}
