{% extends 'base.html' %}

{% block title %}Q-Hotels | Leadership{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/Ourteam.jpg" alt="Our Team" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Who we are</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <div class="text text-center">
        <p>
            With more than 150 years of collective experience, partnering with Q Hotels means you can rest assured; your hospitality business is in good hands. Our team consists of experts from all aspects of the industry, including revenue generation, food and beverage, development, operations, marketing, and more.
        </p>
    </div>
    <!-- Profile -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img src="/static/img/portfolio/user02.jpg" style="width:100%">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad">
                    <h6 class="teamtitle-pad">Jane Parker</h6>
                    <hr class="hr">
                    <span class="teamtitle-pad">Board Member</span>
                    <p class="teamtitle-pad">
                        Vedant Vasanji is the Head of Development & Principal for Velocity Builders, a successful construction company that designs, develops and builds real estate.
                    </p>
                    <div class="btnpad">
                        <button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img src="/static/img/portfolio/user01.jpg" style="width:100%">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad">
                    <h6 class="teamtitle-pad">David Parker</h6>
                    <hr class="hr">
                    <span class="teamtitle-pad">Board Member</span>
                    <p class="teamtitle-pad">
                        Vedant Vasanji is the Head of Development & Principal for Velocity Builders, a successful construction company that designs, develops and builds real estate.
                    </p>
                    <div class="btnpad">
                        <button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad">
                    <h6 class="teamtitle-pad">Judy</h6>
                    <hr class="hr">
                    <span class="teamtitle-pad">Board Member</span>
                    <p class="teamtitle-pad">
                        Vedant Vasanji is the Head of Development & Principal for Velocity Builders, a successful construction company that designs, develops and builds real estate.
                    </p>
                    <div class="btnpad">
                        <button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">View Profile</button>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img src="/static/img/portfolio/user03.jpg" style="width:100%">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad">
                    <h6 class="teamtitle-pad">Nancy Martin</h6>
                    <hr class="hr">
                    <span class="teamtitle-pad">Board Member</span>
                    <p class="teamtitle-pad">
                        Vedant Vasanji is the Head of Development & Principal for Velocity Builders, a successful construction company that designs, develops and builds real estate.
                    </p>
                    <div class="btnpad">
                        <button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">View Profile</button>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img src="/static/img/portfolio/user04.jpg" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <!-- Profile -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
