{% extends 'base.html' %}

{% block title %}Q-Hotels | News{% endblock %}
{% block description %}Read what Q Hotels is doing to improve the communities that we serve and expansion plans.{% endblock %}

{% block banner %}
<div class="banner-img ">
    <img class="news" src="/static/img/banner/slide-7.jpg" alt="news slide" title="news slide" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Q HOTELS - NEWS</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <div class="news-content bg-light p-4 mb-4 clearfix">
        <h4 class="primary-heading">QHotels Breaks Ground on Springhill Suites by Marriott Slidell</h4>
        <small>JULY 17, 2019</small>
        <div class="float-right">
            <a href="http://www.prweb.com/releases/qhotels_breaks_ground_on_springhill_suites_by_marriott_slidell/prweb16439810.htm" target="_blank" class="btn teambtn navtxt btn-lg mb-0">Read More</a>
        </div>
    </div>
    <div class="news-content bg-light p-4 mb-4 clearfix">
        <h4 class="primary-heading">QHotels of LaPlace LA Give Back this Holiday Season to Their Local Community with their Continued Partnership with Court Appointed Special Advocates (CASA)</h4>
        <small>DECEMBER 17, 2018</small>
        <div class="float-right">
            <a href="http://www.prweb.com/releases/qhotels_of_laplace_la_give_back_this_holiday_season_to_their_local_community_with_their_continued_partnership_with_court_appointed_special_advocates_casa/prweb15979585.htm" target="_blank" class="btn teambtn navtxt btn-lg mb-0">Read More</a>
        </div>
    </div>
    <div class="news-content bg-light p-4 mb-4 clearfix">
        <h4 class="primary-heading">Giving Back: QHotels blesses foster children with Christmas toys</h4>
        <small>DECEMBER 13, 2018</small>
        <div class="float-right">
            <a href="https://www.lobservateur.com/2018/12/13/giving-back-qhotels-blesses-foster-children-with-christmas-toys/" target="_blank" class="btn teambtn navtxt btn-lg mb-0">Read More</a>
        </div>
    </div>
</div>
{% endblock %}
