{% extends 'base.html' %}

{% block title %}Hotel Operations | Marriott, Hilton, IHG, Best Western | Q Hotels{% endblock %}
{% block description %}Our Q Hotel operations teams succeed because they are given a foundation of training and support from the corporate office and expertise and relationships with the brand.{% endblock %}
{% block keywords %}Hotel Operations | Marriott, Hilton, IHG, Best Western | QHotels Management, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="operations" title="operations" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Operations</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>QHotels Management believes that operational success comes from active management. Property level teams need active support and guidance from our seasoned hotel management experts.</p>
    </div>
    <p>
        Each new General Manager goes through a unique training when onboarding with QHotels Management.  The first week involves a rotation within the corporate office, where they meet the support team including accounting and get their binder with SOPs.  The second week they do a rotation where they spend time in each department including night audit, housekeeping, breakfast, front desk (am/pm). This all happens before they even get access to their office or access to their new email, so they can focus on laying a strong foundation within QHotels Management.
    </p>
    <ul>
        <li><a href="/technology">Real Time Reporting Dashboard Proprietary to QHotels Management</a></li>
        <li>Weekly Ownership Calls</li>
        <li>Quarterly In Person One-On-Ones with Hotel Team</li>
        <li>Goals include striving for Quality Elite on Brand Quality Assurance (QA)</li>
        <li>Standardized GM checklist</li>
        <li>Regular STR Review</li>
    </ul>
</div>
{% endblock %}
