{% extends 'base.html' %}

{% block title %}Hotel franchisor{% endblock %}
{% block description %}Q Hotels is a hotel franchisor of multiple brands, including Marriott, Hilton, IHG and Best Westerns. See their portfolio of hotels in Louisiana and the Southwest.{% endblock %}
{% block keywords %}Hotel Franchisor of Marriott, IHG, Hilton and Best Western | Managed by Q Hotels{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/portfolio.jpg" alt="PortFolio" title="PortFolio" />
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center" style="margin-top: 20px;">
        <h3>STAY WITH US</h3>
        <p>With a diverse portfolio including premium brand properties, and independent hotels nationwide, QHotels Management knows what businesses need to be successful. Dedicated to customer service and “People Pleasing People”, we put guests at the forefront of everything we do. Our hotel operational process, known as the “Q Way” is supported by our team of industry professionals.</p>
    </div>
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="center col-lg-12 col-md-12 col-sm-12 col-xs-12 m-5 filters" style="width:100%;text-align:center;">
            <button class="filter-button navtxt fwght active pb-2 mb-0" data-filter="all">All PROJECTS</button>
            <button class="filter-button navtxt fwght pb-2 mb-0" data-filter="intenational">Intercontinental Hotels</button>
            <button class="filter-button navtxt fwght pb-2 mb-0" data-filter="marriott">Marriott </button>
            <button class="filter-button navtxt fwght pb-2 mb-0" data-filter="hilton">Hilton</button>
            <button class="filter-button navtxt fwght pb-2 mb-0" data-filter="western">Best Western</button>
        </div>
        <br/>
        <div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter intenational mb-0">
            <div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
                <img src="/static/img/portfolio/p2.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 tst img-responsive padnone" style="width:100%;" alt="candlewood suites houma" title="candlewood suites houma">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad">
                    <h6 class="teamtitle-pad">CANDLEWOOD SUITES HOUMA</h6>
                    <hr class="hr">
                    <div class="portbox">
                        <p class="mb-2"><span style="font-weight: bold;">Address:</span> 737 Corporate Dr Houma, Louisiana 70360</p>
                        <p class="mb-2"><span style="font-weight: bold;">Phone:</span> 985-274-4000 </p>
                    </div>
                    <div class="btnpad">
                        <a href="https://www.ihg.com/candlewood/hotels/us/en/houma/humml/hoteldetail" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg">Visit Website</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter intenational mb-0">
            <div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
                <img src="/static/img/portfolio/largeholidayinn.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone" style="width:100%;" alt="Holiday Inn Express & Suites La Place" title="Holiday Inn Express & Suites La Place">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad">
                    <h6 class="teamtitle-pad text-uppercase">Holiday Inn Express & Suites La Place  </h6>
                    <hr class="hr">
                    <div class="portbox">
                        <p class="mb-2"><span style="font-weight: bold;">Address:</span> 4284 Highway 51 La Place, Louisiana 70068</p>
                        <p class="mb-2"><span style="font-weight: bold;">Phone:</span> 985- 618-1600 </p>
                    </div>
                    <div class="btnpad">
                        <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/la-place/laphe/hoteldetail" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg">Visit Website</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more portfolio items as needed, or use the ones from original file -->
        <div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter intenational mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/holiday-inn-express.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone order-lg-2 order-sm-1" style="width:100%;" alt="Holiday Inn Express Donaldsonville" title="Holiday Inn Express Donaldsonville">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad order-lg-1 order-sm-2">
					<h6 class="teamtitle-pad text-uppercase">Holiday Inn Express Donaldsonville</h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 2280 Business Park Blvd Donaldsonville, Louisiana  70346 </p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> 225-473-3500</p>
					</div>
					<div class="btnpad">
						<a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/donaldsonville/btrdo/hoteldetail" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter marriott mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/portfolio-300x250.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone order-lg-2 order-sm-1" style="width:100%;height:234px;" alt="Springhill Suites Slidell" title="Springhill Suites Slidell">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad order-lg-1 order-sm-2">
					<h6 class="teamtitle-pad text-uppercase">Springhill Suites Slidell</h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> Springhill Suites Slidell 2214 Ruth Garrett Way Slidell, LA 70458</p>
						<!-- <p><span style="font-weight: bold;">Phone:</span>337-477-7474 </p> -->
					</div>
					<div class="btnpad">
						<a href="http://springhillslidell.com/" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter western mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/Best Western La Place Inn.jpg" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone" style="width:100%;" alt="Best Western LaPlace Inn" title="Best Western LaPlace Inn">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad">
					<h6 class="teamtitle-pad text-uppercase">Best Western LaPlace Inn </h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 4289 Main Street La Place, Louisiana 70068-5944 </p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> (985) 651-4000 </p>
					</div>
					<div class="btnpad">
						<a href="https://www.bestwestern.com/en_US/book/hotels-in-la-place/best-western-la-place-inn/propertyCode.19075.html" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter marriott mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/tps_phototour.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone " style="width:100%;" alt="Towneplace Suites LaPlace" title="Towneplace Suites LaPlace">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad">
					<h6 class="teamtitle-pad text-uppercase">Towneplace Suites LaPlace </h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 4281 Highway 51, LaPlace, Louisiana  70068</p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> 985-651-1700</p>
					</div>
					<div class="btnpad">
						<a href="https://www.marriott.com/hotels/travel/msylp-towneplace-suites-laplace/" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter hilton mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/large1.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone tst order-lg-2 order-sm-1" style="width:100%;" alt="Hampton Inn LaPlace" title="Hampton Inn LaPlace">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad order-lg-1 order-sm-2">
					<h6 class="teamtitle-pad text-uppercase">Hampton Inn LaPlace </h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 4288 Highway 51 Laplace, Louisiana  70068  </p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> 985-618-5014</p>
					</div>
					<div class="btnpad">
						<a href="https://hamptoninn3.hilton.com/en/hotels/louisiana/hampton-inn-laplace-LAPLAHX/index.html" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/latitude.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone tst order-lg-2 order-sm-1" style="width:100%;" alt="Latitude Apartments" title="Latitude Apartments">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad order-lg-1 order-sm-2">
					<h6 class="teamtitle-pad text-uppercase">Latitude Apartments</h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 3100 Lake Villa Dr, Metairie, Louisiana.</p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> +1 (504) 662 - 3100</p>
					</div>
					<div class="btnpad">
						<a href="https://latitude.apartments/" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box gallery_product col-lg-6 col-md-6 col-sm-6 col-xs-6 filter mb-0">
			<div class="figure-img position-relative row mb-0 p-md-3 p-lg-0">
				<img src="/static/img/portfolio/Townebridge.png" class="col-xs-12 col-sm-12 col-md-12 col-lg-6 img-responsive padnone " style="width:100%;" alt="Townebridge Apartments" title="Townebridge Apartments">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ht_team_data teamsection-bg teamsection-pad portpad">
					<h6 class="teamtitle-pad text-uppercase">Townebridge Apartments </h6>
					<hr class="hr">
					<div class="portbox">
						<p class="mb-2"><span style="font-weight: bold;">Address:</span> 1615 Carol Sue Ave, Gretna, LA 70056</p>
						<p class="mb-2"><span style="font-weight: bold;">Phone:</span> (504) 394-4095</p>
					</div>
					<div class="btnpad">
						<a href="https://townebridge.apartments" target="_blank"><button type="button" class="btn teambtn navtxt btn-lg" data-toggle="modal" data-target="#exampleModalLong">Visit Website</button></a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsR8dqbqdt78-tUBDI78w4YrNTxJr4QEs&callback=initMap"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: {lat: 30.040840, lng: -90.462791}
        });
        setMarkers(map, hotels);
    }
    
    var hotels = [
        ['Donaldsonville, La.', 30.100350, -90.961693, '2280 Buisness Park Dr. Donaldsonville, La. 70346' ],
        ['TownePlace Suites by Marriott', 30.069990, -90.478070, '4281 Hwy 51 LaPlace, La. 70068 '],
        ['Candlewood Suites Houma', 29.612570, -90.759730, '737 Corporate Dr Houma, Louisiana 70360 '],
        ['Best Western La Place Inn', 30.083960, -90.454750, '4289 Main Street, La Place, Louisiana, 70068-5944, US '],
        ['Best Western Houma Inn', 29.681179, -90.782791, '117 Linda Ann Avenue Gray, Louisiana, 70359 ']
    ];

    function setMarkers(map) {
        var image = {
            url: 'http://qhotels.logicexpress.net/img/mark.png',
            size: new google.maps.Size(85, 90),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        };
        for (var i = 0; i < hotels.length; i++) {
            var hotel = hotels[i];
            var marker = new google.maps.Marker({
                position: {lat: hotel[1], lng: hotel[2]},
                map: map,
                icon: image,
                title: hotel[0]
            });
        }
    }

    $(document).ready(function(){
        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');
            if(value == "all") {
                $('.filter').show('1000');
            } else {
                $(".filter").not('.'+value).hide('3000');
                $('.filter').filter('.'+value).show('3000');
            }
            $(".filter-button").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
{% endblock %}
