{% extends 'base.html' %}

{% block title %}Revenue Management | Q Hotels{% endblock %}
{% block description %}Q Hotels takes a proactive approach in the development and implementation of Revenue Management and best practices that directly result in strong RevPAR contributions at each hotel.{% endblock %}
{% block keywords %}Revenue Management, Q Hotels, Hotel Management Services{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="services" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Revenue Management</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>Q Hotels takes a proactive approach in the development and implementation of Revenue Management and best practices that directly result in strong RevPAR contributions at each hotel. Our Revenue Management Teams are industry experts who continue to drive this discipline every day. Our entrepreneurial spirit supports the initiatives of our brand partners while aggressively pursuing unique channel and Internet strategies.</p>
    </div>
    <p>
        Q Hotels maintains an extensive library of best practices, analytical tools, and standardized procedures that assist in the development of strong strategy decisions. Some of these industry leading tools include:
    </p>
    <ul>
        <li>Centralized Revenue Management</li>
        <li>Weekly Sales Strategy Meeting format, and Sales Strategy Reports</li>
        <li>Hotel Segmentation Reports to track and predict trends by market segment</li>
        <li>Value Assessment to assist in evaluating our competition’s strengths and capitalizing on opportunities</li>
        <li>Displacement Analysis and Profitability Assessments</li>
        <li>Daily, Weekly, Monthly, and Annual Budgeting and Forecasting tools</li>
    </ul>
    <p>
        Q Hotels believes that it is our responsibility to provide continual training and development to facilitate our talent reaching their full potential. We believe in a collaborative approach, openly encouraging communications of knowledge, experiences, and best practice, while ensuring opportunities to gain and refine industry skills are always available. It is this passion and drive that challenges all of our hotels to be the best in their market.
    </p>
</div>
{% endblock %}
