{% extends 'base.html' %}

{% block title %}Hotel Sales and Marketing | Marriott, Hilton, IHG, Best Western | Q Hotels{% endblock %}
{% block description %}Our Q Hotel sales teams succeed because they are given a foundation of training and support from the corporate office and expertise and relationships with the brand.{% endblock %}
{% block keywords %}Hotel Sales and Marketing | Marriott, Hilton, IHG, Best Western | QHotels Management, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="Sales and marketing" title="sales and marketing" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">SALES AND MARKETING</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>QHotels Management has a comprehensive and integrated approach to sales and marketing that focuses on reaching the right person with the right message at the right time and price to optimize capture rates and ROI. We utilize modern technologies and forward-thinking approaches that center around strategic online engagement, customer relationship marketing (CRM), and leverage brand and strategic partnerships.</p>
    </div>
    <p>
        Given QHotels Management focus on the Southwest region, the sales and marketing is very familiar with the local market and players in each market.  The focus on this region allows for a local focus and internal shifts are made easier.
    </p>
    <ul>
        <li>Infusion CRM software</li>
        <li>Each sales team has quarterly goals based on total revenue</li>
        <li>Displacement analysis run with each new group or account</li>
    </ul>
</div>
{% endblock %}
