{% extends 'base.html' %}

{% block title %}Hotel Management Services | Q Hotel Management{% endblock %}
{% block description %}Q Hotels offers hotel management services in Southwest Louisiana. We achieve optimum results by focusing on operations, sales and marketing, technology, accounting and development.{% endblock %}
{% block keywords %}Hotel Management Services | QHotels Management, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="services banner" title="service banner"  />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <small class="text-capitalize">Hotel Management Services</small>
        <h1 class="m-0 text-uppercase">Who we are</h1>
        <span class="seprator mb-2 d-block">o</span>
        <p>QHotels Management is the first choice in the industry, illustrated by our strong performance in our markets. No company knows how to create experiences like we do, tailoring to what guests want in today’s experience economy and, thus, capturing their loyalty. Entertainment and hospitality is in our blood. 
            We make ordinary days extraordinary. With QHotels Management as an operating partner, we make properties the healthiest and most vibrant they can be, 
            from the guests’ experience and associates’ ambassadorship, to optimizing the value of a portfolio.
        </p>
        <p>We achieve this for our partners through management expertise that includes:</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Sales and Marketing</h4>
                    <p class="card-text">QHotels Management has a comprehensive and integrated approach to sales and marketing that focuses on reaching the right person with the right message at the right time and price to optimize capture rates and ROI.</p>
                    <div class="btnpad">
                        <a href="sales-and-marketing"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Operations</h4>
                    <p class="card-text">QHotels Management believes that operational success comes from active management. Property level teams need active support and guidance from our seasoned hotel management experts. </p>
                    <div class="btnpad">
                        <a href="operations"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Technology and IT</h4>
                    <p class="card-text">QHotels Management has created a proprietary cloud based reporting system developed by the team at QHotels Management.The system is updated daily so anyone from General Manager to owner can get key insights into hotel. </p>
                    <div class="btnpad">
                        <a href="technology"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Accounting</h4>
                    <p class="card-text">Our hotel management company understands the role of a well run financial operation in increasing your hotel’s bottom line. QHotels Management professional accounting staff centralizes the reporting of all your property’s funds. </p>
                    <div class="btnpad">
                        <a href="accounting"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Development, PIP and Construction</h4>
                    <p class="card-text">QHotels Management has successfully developed and constructed numerous projects for various partnerships. We brand with industry leaders like IHG, Hilton, and Best Western.  </p>
                    <div class="btnpad">
                        <a href="construction-and-pip-management"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="primary-heading">Detailed List of Services</h4>
                    <p class="card-text"> </p>
                    <div class="btnpad">
                        <a href="detailed-list-of-services"><button type="button" class="btn teambtn navtxt btn-lg">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="text-center">
        We welcome the opportunity to discuss third-party management of your hotel, resort or portfolio. Contact Vimal Patel  at vimal@qhotels.co or 
        call 504-251-8314 to begin a conversation that could lead to an exceptionally successful partnership.
    </p>
</div>
{% endblock %}
