{% extends 'base.html' %}

{% block title %}Our Leadership Team at Q Hotel Management in LaPlace LA{% endblock %}
{% block description %}Meet Jay, Vimal, Kevin and Vendant Patel who define the leadership team at Q Hotel Management whose various backgrounds create a dynamic hospitality team.{% endblock %}
{% block keywords %}Team, Our Leadership Team at Q Hotel Management in LaPlace LA, Q Hotels,{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/team.jpg" alt="Our Team" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">Who we are</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <div class="text text-center mb-3">
        <p>
            With more than 150 years of collective experience, partnering with Q Hotels means you can rest assured; your hospitality business is in good hands. Our team consists of experts from all aspects of the industry, including revenue generation, food and beverage, development, operations, marketing, and more.
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                   <img class="hght" src="/static/img/portfolio/vimalpatel.png" alt="Vimal Patel" title="Vimal Patel" style="width:100%">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Vimal Patel</h6>
                    <hr class="hr">
                    <small class="teamtitle-pad">C.E.O</small>
                    <p class="teamlbl teamtitle-pad tmpdt">
                        <strong>Responsibilities:</strong> Oversight and management for all hotels, operational and new construction budgets, financing, technology and brand relations.
                    </p>
                    <p class="tmlbl teamtitle-pad tmpdt">
                        <strong>Fun Fact:</strong> His two daughters keep him on his toes!
                    </p>
                    <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto:vimal@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                         <div class="icn d-inline">
                               <a href="https://www.linkedin.com/company/cajun-lodging/about/" target="_blank"><i class="fa fa-linkedin"></i></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row mbteam">
               <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                     <img class="hght" src="/static/img/portfolio/rachael_burns.jpg" alt="rachael burn" title="rachael burn" style="width:100%">
               </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                       <h6 class="teamtitle-pad">Rachael Burns</h6> 
                      <hr class="hr">
                       <small class="teamtitle-pad">My Girl Friday a.k.a. Regional Director of Operations</small>
                       <p class="teamlbl teamtitle-pad tmpdt">
                          <strong>Responsibilities:</strong> Direct Oversight of all QHotels Properties.
                       </p>
                       <p class="tmlbl teamtitle-pad tmpdt">
                        <strong>Fun Fact:</strong> Parade Director/Board Member for Ain’t Misbehavin’ Social Club.
                     </p>
                     <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto:regional@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                     </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Amy Mire SHRM CP</h6> 
                   <hr class="hr">
                    <small class="teamtitle-pad">Human Resources</small>
                    <p class="teamlbl teamtitle-pad tmpdt">
                       <strong>Responsibilities:</strong>Teaching people the “Q” way and all things Human Resources Department.
                    </p>
                    <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto: hr@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                    </div>
                </div>  
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                      <img class="hght" src="/static/img/portfolio/mina_patel.jpg" alt="Amy Mire" title="Amy Mire" style="width:100%">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row mbteam">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Mina Patel</h6> 
                   <hr class="hr">
                    <small class="teamtitle-pad">CFO</small>
                    <p class="teamlbl teamtitle-pad tmpdt">
                       <strong>Responsibilities:</strong>  Numbers wizard and all things Accounting.
                    </p> 
                    <p class="tmlbl teamtitle-pad tmpdt">
                      <strong>Fun Fact:</strong> I love listening to Spanish music, even though I don’t understand a word!
                    </p>
                    <div class="row px-2">
                        <div class="d-inline">
                             <a href="mailto:mina@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                        </div>
                    </div>
                </div> 
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img class="hght" src="/static/img/portfolio/mina.jpg" alt="mina patel" title="mina patel" style="width:100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row mbteam">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                      <img class="hght" src="/static/img/portfolio/vedant.png" alt="Vedant Vasanji" title="Vedant Vasanji" style="width:100%">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                       <h6 class="teamtitle-pad">Vedant Vasanji</h6> 
                      <hr class="hr">
                       <small class="teamtitle-pad">Chief Development Officer</small>
                       <p class="teamlbl teamtitle-pad">
                          <strong>Responsibilities:</strong> Ensure our company keeps growing.
                       </p>
                       <p class="tmlbl teamtitle-pad">
                        <strong>Fun Fact:</strong> Amazon is the new Duct Tape.
                     </p>
                    <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto: vedant@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img class="hght" src="/static/img/portfolio/jay.png" alt="Jay Patel" title="Jay Patel" style="width:100%">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Jay Patel</h6> 
                   <hr class="hr">
                    <small class="teamtitle-pad">Visionary</small>
                    <p class="teamlbl teamtitle-pad">
                        <strong>Responsibilities:</strong> Keep the Promise
                    </p>
                     <p class="tmlbl teamtitle-pad tmpdt">
                        <strong>Fun Fact:</strong> Developing and nurturing  Mango Farm
                     </p>
                   <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto: jay.patel@cajunlodging.com" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row mbteam">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Kevin Patel</h6> 
                   <hr class="hr">
                    <small class="teamtitle-pad">The Buck Stops Here</small>
                    <p class="teamlbl teamlbl teamtitle-pad tmpdt">
                         <strong>Responsibilities:</strong> Numbers and human factor matters, operator and developer, overall view with binoculars.
                    </p>  
                    <p class="teamlbl tmlbl teamtitle-pad tmpdt">
                      <strong>Fun Fact:</strong> Passion to achieve goals enjoy the company of good people.
                    </p>
                    <div class="row px-2">
                        <div class="d-inline">
                             <a href="mailto: kevin.patel@cajunlodging.com" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                        </div>
                    </div>
                </div> 
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                    <img class="hght" src="/static/img/portfolio/kevin1.jpg" alt="Kevin Patel" title="Kevin Patel" style="width:100%">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row mbteam">
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_data teamsection-bg teamsection-pad py-3">
                    <h6 class="teamtitle-pad">Karissa Billiot</h6>
                    <hr class="hr">
                    <small class="teamtitle-pad">Regional Director of Sales</small>
                    <p class="mbt teamlbl teamtitle-pad tmpdt">
                        <strong>Responsibilities:</strong> Establishes and maintains accounts and develops relationships in the marketplace while maintaining high visibility in the surrounding hospitality community.
                    </p>
                    <p class="mbt tmlbl teamtitle-pad tmpdt">
                        <strong>Fun Fact:</strong> Karissa is a fan of true crime podcasts and documentaries and supports animal welfare causes.
                    </p>
                    <div class="row px-2">
                         <div class="d-inline">
                              <a href="mailto:sales.humml@qhotels.co" class="custbtn"><img class="env" src="/static/img/icons/envelop.svg" alt="emaii" title="email"></a>
                         </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 ht_team_img padnone">
                   <img class="hght" src="/static/img/portfolio/karissa.jpg" alt="Karissa Billiot" title="Karissa Billiot" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
