{% extends 'base.html' %}

{% block title %}Hotel Technology Platform | Q Hotels{% endblock %}
{% block description %}Q Hotels offers a cloud-based, proprietary hotel technology platform that provides daily reports at your fingertips with no extensive data input from the field team to assist operations, sales and finance teams.{% endblock %}
{% block keywords %}Hotel Technology Platform | Q Hotels{% endblock %}

{% block banner %}
<div class="banner-img">
    <img src="/static/img/banner/services.jpg" alt="technology and IT" title="technology and IT" />
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="page-title text-center">
        <h1 class="m-0 text-uppercase">TECHNOLOGY & IT</h1>
        <span class="seprator mb-2 d-block">o</span>
    </div>
    <p>
        QHotels Management has created a proprietary cloud based reporting system developed by the team at QHotels Management.  The system is updated daily so anyone from General Manager to owner can get key insights into hotel performance at a glance.  It is customizable by date and is available at your fingertips. The platform can be accessed from any device. Statistics shown follow the Torch Bearer guidelines.  Key metrics include:
    </p>
    <ul>
        <li>GSS/Medallia Guest Feedback Scores</li>
        <li>STR Data</li>
        <li>Accounting / Banking Statistics</li>
        <li>Labor Analysis</li>
    </ul>
</div>
{% endblock %}
